<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Points">
      <%= assigns[:page_title] || "Points" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white dark:bg-black dark:text-white antialiased">
    <header class="px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between border-b border-zinc-100 py-3">
        <div class="flex items-center gap-4">
          <a href="/">Points</a>
          <p class="rounded-full bg-brand/5 px-2 text-[0.8125rem] font-medium leading-6 text-brand">
            Gamma
          </p>
        </div>
        <div class="flex items-center gap-4">
          <%= if @current_user do %>
            <span>
              <%= @current_user.email %>
            </span>
            <.link href={~p"/users/settings"} class="dark:text-sky-400">
              <%= gettext("Settings") %>
            </.link>
            <.link href={~p"/users/log_out"} method="delete" class="dark:text-sky-400">
              <%= gettext("Log out") %>
            </.link>
          <% else %>
            <.link
              href={~p"/users/register"}
              class="text-[0.8125rem] font-semibold leading-6 text-zinc-900 hover:text-zinc-700 dark:text-sky-400"
            >
              <%= gettext("Register") %>
            </.link>
            <.link
              href={~p"/users/log_in"}
              class="rounded-lg bg-zinc-100 px-2 py-1 text-[0.8125rem] font-semibold leading-6 text-zinc-900 hover:bg-zinc-200/80 active:text-zinc-900/70"
            >
              <%= gettext("Log in") %> <span aria-hidden="true">&rarr;</span>
            </.link>
          <% end %>
        </div>
      </div>
    </header>
    <%= @inner_content %>
  </body>
</html>
